<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Control ESP32</title>
</head>
<body>
    <h1>Control y Monitoreo ESP32</h1>

    <div>
        <label>Temperatura (lectura): <span id="temperatura">--</span> °C</label><br/>
        <label>pH (lectura): <span id="ph">--</span></label>
    </div>

    <hr/>

    <div>
        <label>Temperatura Set:
            <input type="number" step="0.1" id="temperaturaSet" />
        </label><br/>
        <label>pH Set:
            <input type="number" step="0.1" id="phSet" />
        </label><br/>
        <label>tDis:
            <input type="number" id="tDis" />
        </label><br/>
        <label>vDis:
            <input type="number" id="vDis" />
        </label><br/>
    </div>

    <button id="btnDispensar">Dispensar</button>

    <script src="script.js"></script>
</body>
</html>
